



.format__row{

    width: 100% ;
    
}
.form_group input {
    border-radius: 6px;
    text-decoration: none;
    border: none;
    background-color: #f1f2f1;
    width: 100%;
    height: 38px;

   
}

.form_control{
    background-color: #f1f2f1;
    width: 100%;
    height: 38px !important;
    margin-top: 10px !important;
    justify-content: center;
    border-radius: 6px;
    border: none;

}
.form_control input{
    background-color: #f1f2f1;
    width: 100%;
    height: 38px !important;
    margin-top: 10px;
    justify-content: center;
    border-radius: 6px;


}
.search_Input{
    margin-top: 12px;
 
    width: 100%;
    z-index: 9999 ;

    
}
.search_Input {
    margin-top: 12px;
 
    width: 100%;
    z-index: 9999 ;

    
}
.search_Input input {
   padding: 5px, 25px, 5px, 5px;

    
}
.searchInput :active{
    background: #f7f7f7;
    width: 100%;
    padding: 3px 3px 3px 15px;
    outline: none;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #939393;
    /* border: 1px solid red; */
    overflow-y: visible;
}
.form_group select{
    border-radius: 6px;
    text-decoration: none;
    border: none;
    background-color: #f1f2f1;
    width: 100%;
    height: 38px;

}
.form_groupt select{
    border-radius: 6px;
    text-decoration: none;
    border: none;
    background-color: #f1f2f1;
    width: 100%;
    height: 38px;

}
.col_md_6{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700;

}

.mininput{
    width: 100%;
    padding: 0px 10px;
    font-size: 16px;
    

}

.form_group input{
    padding: 5px 25px 5px 5px;
    
}
.form_group select{
    padding-left: 10px;
}
.form_group{
    width: 100%;
    height: 87px;
    margin-bottom: 16px;
     
}
.format__row{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.contact__flex{
    display: flex;
    margin: 0 auto;
  
    justify-content: center;

}
.form_groupt{
    width: 100%;
    height: 87px;
    margin-bottom: 16px;
    border: none;
    
    margin: 0;
  

    
}
.form_groupt input{
    width: 100%;
    margin-bottom: 16px;
    border: none;
    margin: 0;
    border-radius: 6px;
    padding: 5px 25px 5px 5px;
  

    
}
.form_groupt label span img{
    width: 15px;
    height: 16px;
    margin-left: 5px;

}
.form_group label span{
    color: #ff0000;
}

.form_group label span img{
    width: 15px;
    height: 16px;
    margin-left: 5px;

}
.form_control input  {
    padding-left: 10px;
    background-color: #f1f2f1;
    width: 100%;
    height: 38px !important;
}
.form_group label{
    font-weight: 700;
    color:  #0068ac;
    position: relative;
    display: block;
    overflow-y: scroll;
    margin-bottom: 10px;
    
}


.lb_text{
    color:  rgb(0, 104, 172);
   

}
.lb_text i{
    color: red;
}
.lb_text span {
    margin-left: 5px;
}
.span{
    color: #ffffff;
}



.selectBlock {
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow-y: auto;
    padding-bottom: 7px;
    padding-left: 10px;
    color: #000000;
    font-weight: 700;
    
}

.selectWidthSearch {
    background-color: #f1f2f1;
    width: 100%;
    height: 38px; 
    justify-content: center;
    margin-top: 10px;
    border-radius: 6px;
    align-content: center;
    /* border: 1px solid red; */
    
    

}
.selectWidthSearch  {
    font-size: 16px !important;
    color: #000000 !important;
    background-color: #F1F1F1;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 5px 25px 5px 5px;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: start;
    
}

.ssearch_Input{
    font-size: 16px !important;
    color: #000000 !important;
    background-color: #F1F1F1;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 5px 25px 5px 5px;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: start;
}
.searchSelecUl{
        background: #f7f7f7;
        width: 100%;
        /* padding: 10px; */
        border: 1px solid #f7f7f7;
        margin-top: -5px;
       
}

#government_id{
    width: 60%;
    display: none;
}
.select_wrapper{
    position: relative;
}

.arrow_wrap {
    top: 73%;
}

.select_wrapper ::before {
    content: "поиск";
    position: absolute;
    top: 38%;
    right: 15px;
    transform: translateY(-50%);
    display: block;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: transform 0.3s linear;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.selectWithSearch .wrapper {
    display: none;
    position: relative;
    /* top: 0px; */
    /* left: -6px; */
    top: -33px;
    left: -3px;
    width: 100%;
    z-index: 9999;
    height: 28vh;
    overflow-y: auto;


}


.error-border  {
    border: 2px solid #dc3545 ;
    border-radius: 8px;
  }
  
  .error-message {
    color: #dc3545;
    margin-top: 5px;
    font-size: 12px;
  }
  




@media screen and (max-width: 650px) {
.contact__flex{
    flex-wrap: wrap;
}    
   
    
}



