
.form_groupp{
    height: 87px;
    width: 100%;
    margin: 0 auto;
}
.form__groupt{
    width: 100%;
}
.form_groupp input{
    border-radius: 6px;
    text-decoration: none;
    border: none;
    background-color: #f1f2f1;
    width: 100%;
    height: 38px;
    padding: 5px 25px 5px 5px;
}
.format__card{
    height: 128px;
    width: 100%;
    background-color:  #F0F4FF;
    margin-bottom: 30px;
}
.format__flex {
    display: flex;
    color: #0069ac;
    font-size: 16px;
}
.format__flex span{
    margin-left: 35px;
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}
.format__button{
    padding: 12px, 12px, 20px, 12px;
    margin-top: 12px;
    height: 30px;
    width: 100%;
    font-size: 16px;
}
.format__button button{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    background-color: #0069ac;
}
.format__button button svg{
    color: #ffffff;
    width: 14px;
    height: 16px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
    border: 1px solid red;
}
.form_group input {
    border-radius: 6px;
    text-decoration: none;
    border: none;
    background-color: #f1f2f1;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    height: 38px;
}
.col_md_6{
    width: 100%;
    align-items: center;
    padding: 0px, 10px;
    font-size: 16px;
}
.form_group{
    width: 100%;
    height: 87px;
}
.form_group label span{
    color: #ff0000;
}
.form_group label{
    font-weight: 700;
}
.lb_text{
    color:  rgb(0, 104, 172);
}
.contact__flex{
    display: flex;
    flex-wrap: wrap;
}
.form_groupp label{
    color:  rgb(0, 104, 172);
    font-weight: 700;
    margin-left: 10px;
    font-size: 16px;
}
.form_groupp input{
    margin-top: 10px;
    padding-left: 10px;
}
.family{ 

    background-color:  #ffffff !important;
    position: relative;
    width: 100%;
    padding: 20px; 
}
.family__card{
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #f0f4ff  !important;
    border-radius: 6px;  
}
.family__div{
    width: 93px !important;
    z-index: 999 !important;
    background-color: #f0f4ff !important;
    margin-bottom: 5px;
    position: absolute !important;
    right: 20px !important;
    height: 37px !important;
    padding: 9px !important;
    line-height: initial;
    color: #0069AC;
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;   
}
.table_bordered{
    width: 100% ;
    margin-bottom: 1rem;
    color: #212529;
    border-top: none;
    overflow: auto;
    display: block;   
}
.family__div table{
    border-radius: 5px;
    background-color: #F0F4FF ;
    border: none;
    white-space: nowrap;
    color: #0069AC;
    padding: 5px;
    width: 100%;
    border-collapse: collapse;
}
.lb_text{
    margin-top: 15px;

    font-weight: 700;
    height: 56px;
    font-size: 16px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    margin-left: 0;
    color: #0069AC;
    align-items: center;
}
.family__td{

    align-items: start;
    font-size: 16px;
    color: #000000;
}
.family__open{
    background-color: #0068AC;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 4px;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;  
}
.form__groupt{
    padding: 0px 10px;
}

.family__button button svg{
    color: #FFFFFf;
    width: 16px;
    height: 14px;
}
.button__delete div img {
    width: 20px;
    height: 20px;
}
.button__delete{
    display: flex;
    gap: 20px;
    width: 93px !important;
    z-index: 999 !important;
    background-color: #f0f4ff !important;
    position: absolute !important;
    right: 20px !important;
    height: 37px !important;
    color: #0069AC;
    font-weight: 700;
    padding: 9px !important;
    line-height: initial;
}
.family__td :hover{
    background-color: #28a745;   
}
.tr_td_text {    
    border-top: none;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 20px;
    font-weight: 700;
    font-style: 16px;
      
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
    padding-bottom: 20px;
}

.family__td{
    justify-content: center;
    text-align: center;
    padding: 0, 10px, 0,10px;
}
.family__edit  {
    background: #007bff; /* Blue color for edit button */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    width: auto;
    margin-right: 0.5rem;
  }
  
  .family__delete  {
    background: #dc3545; /* Red color for delete button */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
  }
  
  .family_edit_flex{
    display: flex;
    background-color: none;
  }
  .family__edit:hover,
  .family__delete:hover {
    opacity: 0.8;
  }
  